@font-face {
    font-family: AliceFont;
    src: url(Alice-Regular.ttf);
}

body {
    background-color: #f0e9e6 !important;
    font-family: AliceFont !important;
}

nav{
    background-color: #ebd6cd;
    padding: 1% !important;
    border-bottom: solid 1px black;
}

.navbar-brand{
    font-size: 25px !important;
}

.nav-link{
    font-size: 20px !important;
    background-color: transparent !important;
    border: solid 1px black !important;
}
.nav-link:link {
    color: rgba(0, 0, 0, 0.795) !important;
    background-color: transparent;
    text-decoration: none;
}

.nav-link:visited {
    color: rgba(0, 0, 0, 0.795);
    background-color: transparent;
    text-decoration: none;
}

.nav-link:hover {
    color: rgb(231, 121, 70) !important;
    background-color: transparent;
    text-decoration: underline;
}

.nav-link:active {
    color: rgb(87, 32, 7) !important;
    background-color: transparent;
    text-decoration: underline;
}

.nav-link:current {
    color: rgb(61, 24, 6) !important;
    background-color: transparent;
    text-decoration: underline;
}

main{
    display: inline-block;
}

.person{
    position: absolute;
    bottom: 180px;
    left: 200px;
    width: 700px;
    height: 500;
    padding: 50px;
    margin-right: 10%;
    box-sizing: border-box;
    justify-items: center;
}

.person h1{
    color: #312620;
    font-size: 82px;
    display: flex;
}

.firstname{
    margin-bottom: 0%;
}

.surname{
    margin-top: 0%;
}

.person h2{
    color: #141414;
    font-size: 15px;
}

.person button{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-color: #905f50;
}

.image img{
    width: 30%;
    height: 62%;
    position: absolute;
    bottom: 130px;
    right: 100px;
    margin-right: 10%;
    border: solid 5px #905f50;
    border-radius: 49%;
}

.info{
    position: absolute;
    bottom: 180px;
    left: 200px;
    width: 700px;
    height: 500;
    padding: 50px;
    margin-right: 10%;
    box-sizing: border-box;
    justify-items: center;
}

.info h3{
    color: #312620;
    font-size: 50px;
}

.info p{
    color: #141414;
    text-transform: uppercase;
}