@font-face {
    font-family: AliceFont;
    src: url(Alice-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e0b5a1b9 !important;
    font-family: AliceFont !important;
}

nav{
    background-color: #ebd6cd;
    padding: 1% !important;
    border-bottom: solid 1px black;
}

.navbar-brand{
    font-size: 25px !important;
}

.collapse{
    justify-content: flex-end !important;
}

.nav-link{
    font-size: 20px !important;
    background-color: transparent !important;
    border: solid 1px black !important;
}
.nav-link:link {
    color: rgba(0, 0, 0, 0.795) !important;
    background-color: transparent;
    text-decoration: none;
}

.nav-link:visited {
    color: rgba(0, 0, 0, 0.795);
    background-color: transparent;
    text-decoration: none;
}

.nav-link:hover {
    color: rgb(231, 121, 70) !important;
    background-color: transparent;
    text-decoration: underline;
}

.nav-link:active {
    color: rgb(87, 32, 7) !important;
    background-color: transparent;
    text-decoration: underline;
}

.nav-link:current {
    color: rgb(61, 24, 6) !important;
    background-color: transparent;
    text-decoration: underline;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home{
    display: flex;
}

.personal-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.personal-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.person{
    position: absolute;
    bottom: 150px;
    left: 170px;
    width: 700px;
    height: 500;
    padding: 50px;
    margin-right: 10%;
    box-sizing: border-box;
}

.person h1{
    color: #312620;
    font-size: 82px;
    display: flex;
}

.firstname{
    margin-bottom: 0%;
    width:100%;
}

.person h2{
    color: #141414;
    font-size: 15px;
}

.person button{
    width: 43%;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-color: #905f50;
}

.image img{
    width: 30%;
    height: 62%;
    position: absolute;
    bottom: 110px;
    right: 80px;
    margin-right: 10%;
    border: solid 5px #905f50;
    border-radius: 49%;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 220%;
}

.head-about h1{
    bottom: 800px;
    left: 220px;
    position:absolute;
    color: #312620;
    font-size: 70px;
}

.img img{
    width: 30%;
    height: 62%;
    position: absolute;
    top: 125%;
    right: 80px;
    margin-right: 10%;
    border: solid 5px #905f50;
    border-radius: 49%;
}

.info{
    position: absolute;
    bottom: 250px;
    left: 170px;
    width: 700px;
    height: 500;
    padding: 50px;
    margin-right: 10%;
    box-sizing: border-box;
}

.info h3{
    color: #312620;
    font-size: 50px;
}

.info p{
    color: #141414;
    text-transform: uppercase;
    text-align: justify;
}

.toga img{
    position: absolute;
    width: 35%;
    height: 60%;
    top: 235%;
    left: 140px;
}

.education{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head-educ h1{
    top: 205%;
    left: 220px;
    position:absolute;
    color: #312620;
    font-size: 70px;
}

.school{
    position: absolute;
    top: 239%;
    right: 220px;
}

.school h3{
    text-align: center;
    color: #312620;
}

.school h5{
    text-align: center;
    color: #141414;
}

.course{
    font-style: italic;
}

.skills{
    display: flex;
    flex-direction: inline-block;
    justify-content: center;
}

.skills-head h1{
    top: 330%;
    left: 220px;
    position:absolute;
    color: #312620;
    font-size: 70px;
}

.languages{
    display: flex;
    top: 350%;
    left:9%;
    position: absolute;
}

.lang{
    display: flex;
    margin-top: 0;
    flex-direction: row;
}

.lang img{
    margin-right: 60px;
}

.java img{
    width:90%;
    height: 60%;
}

.sql img{
    width: 90%;
    height: 60%;
    padding: 30px;
}

.html img{
    width: 100%;
    height: 60%;
    padding: 30px;
}

.language{
    display: flex;
    top: 400%;
    left:23%;
    position: absolute;
}

.langs{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
}

.langs img{
    margin-right: 60px;
}

.py img{
    width: 90%;
    height: 40%;
    padding: 30px;
}

.php img{
    width: 100%;
    height: 40%;
    padding: 30px;
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-head h1{
    top: 470%;
    left: 220px;
    position:absolute;
    color: #312620;
    font-size: 70px;
}

.inquiry{
    position: absolute;
    top: 490%;
    left: 35%;
}

.inquiry h3{
    text-align: center;
    color: #312620;
    font-size: 40px;
}

.inquiry h4{
    text-align: center;
    color: #312620;
    font-size: 35px;
}

.contact{
    display: flex;
    top: 510%;
    left:11%;
    position: absolute;
}

.platform{
    display: flex;
    margin-top: 0;
    flex-direction: row;
}

.fb img{
    width: 100%;
    height: 30%;
    padding: 40px;
}

.ph img{
    width: 100%;
    height: 30%;
    padding: 10px;
}

.gmail img{
    width: 100%;
    height: 30%;
    padding: 50px;
}

.in img{
    width: 100%;
    height: 30%;
    padding: 40px;
}



@media screen and (min-width: 425px) and (max-width: 767px){
    header{
        width: 167% !important;
    }

    nav{
        border-bottom: light 1px black !important;
    }

    .navbar-brand{
        font-size: 30px !important;
        border-right: light 1px black !important;
    }

    .collapse{
        background-color: transparent;
    }

    .nav-link{
        font-size: 20px !important;
        border: none !important;
        display: block !important;
        justify-content: flex-start !important;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 60px;
    }

    li a {
        display: block;
    }

    .person{
        top: 65%;
        left: 10px;
        width: 700px;
        height: 500;
        padding: 50px;
        margin-right: 10%;
        box-sizing: border-box;
    }

    .person h1{
        font-size: 41px;
    }

    .person h2{
        font-size: 17px;
    }

    .person button{
        width: 45%;
        font-size: 17px;
    }

    .image img{
        width: 53%;
        height: 35%;
        position: absolute;
        top: 210px;
        left: 230px;
        border: none;
        z-index: -1;
    }

    .head-about h1{
        bottom: 450px;
        left: 10px;
        width: 400px;
        height: 300px;
        padding: 50px;
        margin-right: 10%;
        box-sizing: border-box;
        font-size: 50px;
    }

    .info{
        bottom: 130px;
        left: 10px;
        width: 660px;
        height: 300px;
        padding: 50px;
        margin-right: 10%;
        box-sizing: border-box;
    }

    .info h3{
        bottom: 180px !important;
        font-size: 41px;
    }

    .info p{
        font-size: 14px;
        display: flex;
        flex-direction: column;
    }

    .img img{
        width: 53%;
        height: 35%;
        position: absolute;
        top: 750px;
        left: 230px;
        border: none;
        z-index: -1;
    }

    .toga img{
        width: 58%;
        height: 35%;
        position: absolute;
        top: 225%;
        left: 220px;
        border: none;
        z-index: -1;
    }

    .education{
        display:block;
    }
    
    .head-educ h1{
        top: 195%;
        left: 10px;
        width: 400px;
        height: 300px;
        padding: 50px;
        margin-right: 10%;
        box-sizing: border-box;
        font-size: 50px;
    }

    .school{
        top: 260%;
        left: -15px;
        width: 700px;
        margin-bottom: 10%;
    }
    
    .school h3{
        font-size: 20px;
        font-weight: bold;
    }
    
    .school h5{
        font-size: 15px
    }

    .skills-head h1{
        top: 320%;
        left: 20px;
        width: 400px;
        height: 300px;
        padding: 50px;
        margin-right: 10%;
        box-sizing: border-box;
        font-size: 50px;
    }

    .languages{
        display: flexbox;
        top: 335%;
        left:15%;
        position: absolute;
    }

    .lang{
        display: flex;
        margin-top: 0;
        flex-direction: row;
    }
    
    .lang img{
        margin-right: 60px;
    }
    
    .java img{
        width: 140%;
        height: 100%;
        padding: 50px;
    }
    
    .sql img{
        width: 130%;
        height: 120%;
        padding: 50px;
    }
    
    .html img{
        width: 150%;
        height: 110%;
        padding: 50px;
    }

    .language{
        display: flex;
        top: 365%;
        left:30%;
        position: absolute;
    }
    
    .langs{
        display: flex;
        margin-top: 10px;
        flex-direction: row;
    }
    
    .langs img{
        margin-right: 60px;
    }
    
    .py img{
        width: 150%;
        height: 100%;
        padding: 50px;
    }
    
    .php img{
        width: 150%;
        height: 120%;
        padding: 50px;
    }

    .contact-head h1{
        top: 400%;
        left: 20px;
        width: 400px;
        height: 300px;
        padding: 50px;
        margin-right: 10%;
        box-sizing: border-box;
        font-size: 50px;
    }
    
    .inquiry{
        top: 425%;
        left: 190px;
        width: 300px;
        margin-bottom: 10%;
    }
    
    .inquiry h3{
        font-size: 20px;
        font-weight: bold;
    }
    
    .inquiry h4{
        font-size: 15px;
        font-weight: bold;
    }
    
    .contact{
        display: flex;
        top:430%;
        left:115px;
        position: absolute;
    }
    
    .fb img{
        width: 150%;
        height: 100%;
        padding: 50px;
    }
    
    .ph img{
        width: 150%;
        height: 100%;
        padding: 50px;
    }
    
    .gmail img{
        width: 150%;
        height: 100%;
        padding: 50px;
    }
    
    .in img{
        width: 150%;
        height: 100%;
        padding: 50px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    header{
        width: 109% !important;
        height: 10% !important;
        position: sticky !important;
        top: 0;
    }

    .collapse{
        background-color: transparent;
    }
    
    .nav-link{
        font-size: 15px !important;
        border: transparent !important;
    }

    .person{
        top: 55%;
        left: 10px;
        width: 700px;
        height: 500;
        padding: 50px;
        margin-right: 10%;
        box-sizing: border-box;
    }

    .person h1{
        font-size: 39px;
    }

    .person h2{
        font-size: 13px;
    }

    .person button{
        width: 34%;
        font-size: 12px;
    }

    .image img{
        width: 35%;
        height: 40%;
        position: absolute;
        top: 120px;
        right: 150px;
        border: none;
        z-index: -1;
    }

    .head-about h1{
        bottom: 500px;
        left: 10px;
        width: 400px;
        height: 300px;
        padding: 50px;
        margin-right: 10%;
        box-sizing: border-box;
        font-size: 41px;
    }

    .info{
        bottom: 60px;
        left: 10px;
        width: 750px;
        height: 300px;
        padding: 50px;
        margin-right: 10%;
        box-sizing: border-box;
    }

    .info h3{
        bottom: 180px !important;
        font-size: 26px;
    }

    .info p{
        font-size: 12px;
        display: flex;
        flex-direction: column;
    }

    .img img{
        width: 35%;
        height: 40%;
        position: absolute;
        top: 120%;
        right: 150px;
        border: none;
        z-index: -1;
    }

    .toga img{
        width: 35%;
        height: 30%;
        top: 220%;
        left: 270px;
        z-index: -1;
    }

    .education{
        display:block;
    }
    
    .head-educ h1{
        top: 200%;
        left: 10px;
        width: 400px;
        height: 300px;
        padding: 50px;
        margin-right: 10%;
        box-sizing: border-box;
        font-size: 41px;
    }

    .school{
        top: 255%;
        left: 45px;
        width: 700px;
        margin-bottom: 10%;
    }
    
    .school h3{
        font-size: 20px;
        font-weight: bold;
    }
    
    .school h5{
        font-size: 15px;
    }

    .skills-head h1{
        top: 310%;
        left: 20px;
        width: 400px;
        height: 300px;
        padding: 50px;
        margin-right: 10%;
        box-sizing: border-box;
        font-size: 41px;
    }

    .languages{
        display: flex;
        top: 330%;
        left:1%;
        position: absolute;
    }

    .lang{
        display: flex;
        margin-top: 0;
        flex-direction: row;
    }
    
    .lang img{
        margin-right: 60px;
    }
    
    .java img{
        width: 90%;
        height: 50%;
    }
    
    .sql img{
        width: 100%;
        height: 60%;
        padding: 30px;
    }
    
    .html img{
        width: 90%;
        height: 60%;
        padding: 40px;
    }

    .language{
        display: flex;
        top: 360%;
        left:13%;
        position: absolute;
    }
    
    .langs{
        display: flex;
        margin-top: 10px;
        flex-direction: row;
    }
    
    .langs img{
        margin-right: 60px;
    }
    
    .py img{
        width: 75%;
        height: 50%;
        padding: 30px;
    }
    
    .php img{
        width: 100%;
        height: 50%;
        padding: 20px;
    }

    .contact-head h1{
        top: 400%;
        left: 10px;
        width: 400px;
        height: 300px;
        padding: 50px;
        margin-right: 10%;
        box-sizing: border-box;
        font-size: 41px;
    }
    
    .inquiry{
        top: 425%;
        left: 250px;
        width: 300px;
        margin-bottom: 10%;
    }
    
    .inquiry h3{
        font-size: 20px;
        font-weight: bold;
    }
    
    .inquiry h4{
        font-size: 18px;
        font-weight: bold;
    }
    
    .contact{
        display: flex;
        top: 440%;
        left:15%;
        position: absolute;
    }
    
    .fb img{
        width: 100%;
        height: 30%;
        padding: 15px;
    }
    
    .ph img{
        width: 100%;
        height: 29%;
        padding: 5px;
    }

    .gmail img{
        width: 100%;
        height: 29%;
        padding: 13px;
    }
    
    .in img{
        width: 100%;
        height: 30%;
        padding: 10px;
    }
}

@media screen and (min-width:1024px){
    
    .nav-link{
        font-size: 15px !important;
    }

    .person{
        top: 60%;
        left: 1px;
        width: 700px;
        height: 500;
        padding: 50px;
        margin-right: 10%;
        box-sizing: border-box;
    }

    .person h1{
        width: 700px;
        font-size: 50px;
    }

    .person h2{
        font-size: 20px;
    }

    .person button{
        width: 50%;
        font-size: 18px;
    }

    .image img{
        width:28%;
        height: 42%;
        position: absolute;
        top: 130px;
        right: 290px;
        border: none;
        z-index: -1;
    }

    .head-about h1{
        bottom: 400px;
        left: 3px;
        width: 400px;
        height: 300px;
        padding: 50px;
        margin-right: 10%;
        box-sizing: border-box;
        font-size: 60px;
    }

    .info{
        bottom: 10px;
        left: 10px;
        width: 930px;
        height: 300px;
        padding: 50px;
        margin-right: 10%;
        box-sizing: border-box;
    }

    .info h3{
        bottom: 180px !important;
        font-size: 46px;
    }

    .info p{
        font-size: 13px;
        display: flex;
        flex-direction: column;
    }

    .img img{
        width: 28%;
        height: 42%;
        position: absolute;
        top: 130%;
        right: 290px;
        border: none;
        z-index: -1;
    }

    .toga img{
        width: 35%;
        height: 40%;
        top: 240%;
        left: 300px;
        z-index: -1;
    }

    .education{
        display:block;
    }
    
    .head-educ h1{
        top: 220%;
        left: 10px;
        width: 400px;
        height: 300px;
        padding: 50px;
        margin-right: 10%;
        box-sizing: border-box;
        font-size: 41px;
    }

    .school{
        top: 280%;
        right: 345px;
        width: 400px;
        margin-bottom: 10%;
    }
    
    .school h3{
        font-size: 20px;
        font-weight: bold;
    }
    
    .school h5{
        font-size: 15px
    }

    .skills-head h1{
        top: 340%;
        left: 20px;
        width: 400px;
        height: 300px;
        padding: 50px;
        margin-right: 10%;
        box-sizing: border-box;
        font-size: 41px;
    }

    .languages{
        display: flex;
        top: 354%;
        left:9%;
        position: absolute;
    }

    .lang{
        display: flex;
        margin-top: 0;
        flex-direction: row;
    }
    
    .lang img{
        margin-right: 60px;
    }
    
    .java img{
        width: 90%;
        height: 40%;
    }
    
    .sql img{
        width: 100%;
        height: 50%;
        padding: 30px;
    }
    
    .html img{
        width: 90%;
        height: 50%;
        padding: 40px;
    }

    .language{
        display: flex;
        top: 380%;
        left:20%;
        position: absolute;
    }
    
    .langs{
        display: flex;
        margin-top: 10px;
        flex-direction: row;
    }
    
    .langs img{
        margin-right: 60px;
    }
    
    .py img{
        width: 75%;
        height: 40%;
        padding: 30px;
    }
    
    .php img{
        width: 100%;
        height: 40%;
        padding: 20px;
    }

    .contact-head h1{
        top: 420%;
        left: 10px;
        width: 400px;
        height: 300px;
        padding: 50px;
        margin-right: 10%;
        box-sizing: border-box;
        font-size: 41px;
    }
    
    .inquiry{
        top: 445%;
        left: 350px;
        width: 260px;
        margin-bottom: 10%;
    }
    
    .inquiry h3{
        font-size: 20px;
        font-weight: bold;
    }
    
    .inquiry h4{
        font-size: 18px;
        font-weight: bold;
    }
    
    .contact{
        display: flex;
        top: 460%;
        left:18%;
        position: absolute;
    }
    
    .fb img{
        width: 100%;
        height: 25%;
        padding: 15px;
    }
    
    .ph img{
        width: 100%;
        height: 24%;
        padding: 5px;
    }
    
    .gmail img{
        width: 100%;
        height: 24%;
        padding: 13px;
    }
    
    .in img{
        width: 100%;
        height: 25%;
        padding: 10px;
    }
}